:root {
    --g3-color__base-blue: #731b7a;
    /* --g3-primary-btn__bg-color: #3283c8; */
}

div div .footer__logo-area {
    background: #4a4a4a;
    background: linear-gradient(90deg, #4a4a4a 0%, #b1b1b1 17%, #ebebeb 100%);
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 530px;
}

/* div a .nav-button:hover {
    border-bottom-color: var(--g3-primary-btn__bg-color);
} */
